/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menulist.css ===================================================
  == Styles used by the XUL menulist element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* :::::::::: menulist :::::::::: */

menulist {
  -moz-appearance: none;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-padding-end: 0px;
  -moz-padding-start: 4px;
  margin: 2px 4px;
  background: linear-gradient(#F7F8FE, #EFF2FA, #E6EAF6);
  background-clip: padding-box;
  border-radius: 3.8px;
  border: 1px solid;
  border-color: #B8BDCC;
  box-shadow: 0 1px 0 0 #FDFDFF inset,
              0 -1px 0 0 #F3F5FA inset,
              1px 0 0 0 #F7F8FC inset,
              -1px 0 0 0 #F7F8FC inset;
  color: -moz-FieldText;
  text-shadow: none;
  transition: border-color .15s, background-color .15s;
}

menulist:not([disabled="true"]):hover {
  background: linear-gradient(#E2F2FD, #C2E5FC, #B5DFFB);
  border-color: #2374B2;
  box-shadow: 0 1px 0 0 #F6FBFF inset,
              0 -1px 0 0 #CEEAFC inset,
              1px 0 0 0 #DDF0FD inset,
              -1px 0 0 0 #DDF0FD inset;
}

menulist:not([disabled="true"]):hover:active,
menulist[open="true"],
menulist[checked="true"] {
  background: linear-gradient(#B5DBF5, #B8DEF7, #BBE1FA) !important;
  border-color: #2374B2 !important;
  box-shadow: 0 1px 0 0 #AACEE6 inset,
              0 -1px 0 0 #B0D4EC inset,
              1px 0 0 0 #ADD1E8 inset,
              -1px 0 0 0 #ADD1E8 inset !important;
}

.menulist-label-box {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 1px;
}

.menulist-label-box {
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  -moz-box-align: center;
}

.menulist-icon[src] {
  margin: 0px 2px 0px 2px;
}

.menulist-label {
  margin-top: 0 !important;
  -moz-margin-end: 0 !important;
  margin-bottom: 0 !important;
  -moz-margin-start: 1px !important;
}

.menulist-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

/* ..... dropmarker ..... */

.menulist-dropmarker {
  -moz-appearance: none !important;
  background-color: transparent !important;
  border: none !important;
  height: auto !important;
  list-style-image: url("chrome://global/skin/icons/dropdown.png") !important;
  -moz-image-region: rect(0, 7px, 9px, 0) !important;
}

/* ..... focused state ..... */

menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  background-color: Highlight;
  color: HighlightText;
}

menulist:-moz-focusring:not([open="true"]) > .menulist-label-box {
  border: 1px dotted #F5DB95;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
  background: #F7F8FA;
  border-color: #C4C9D4;
  color: #A4ADBB;
  box-shadow: none;
}

/* ::::: editable menulists ::::: */

.menulist-editable-box {
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  color: ButtonText;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}  

.menulist-compact > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 2px;
}

.menulist-compact[open="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

.menulist-compact[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

@media (-moz-windows-default-theme) {
  .menulist-label-box {
    background-color: transparent !important;
    color: inherit !important;
  }
}
