/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Steven Garrity <steven@silverorange.com>
 *              Henrik Skupin  <mozilla@hskupin.info>
 */

html {
  background: url(chrome://branding/content/about-logo@2x.png) top -159px right -174px no-repeat, linear-gradient(to bottom, rgba(187,202,215,1), rgba(187,202,215,0) 666px) #f8f8f8!important;
  color: #525c66;
  min-height: 100%;
  background-attachment:fixed;
}

body {
  max-width: 650px;
  margin: 25px auto 10px auto;
  padding: 40px;
  border-width: 20px;
  background: transparent;
  border-width: 20px;
  border-style: solid;
  border-image: url("chrome://global/skin/icons/container.png") 20 fill repeat stretch !important;
  color: #000000;
  font: message-box;
}

h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 1.8em;
  color: #ae4444;
  text-shadow: 0 1px rgba(255,255,255,0.5);
}

ul, ol {
  margin: 0;
  margin-inline-start: 1.5em;
  padding: 0;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: square;
}

#errorPageContainer {
  position: relative;
  background: url("chrome://global/skin/icons/warning-large.png") left 0 no-repeat transparent;
  background-origin: content-box;
}

#errorPageContainer.certerror {
  background-image: url("chrome://global/skin/icons/sslWarning.png");
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  margin-inline-start: 80px;
}

#errorLongContent {
  margin-inline-start: 80px;
}

#errorShortDesc > p {
  overflow: auto;
  border-bottom: 1px solid ThreeDLightShadow;
  padding-bottom: 1em;
  font-size: 130%;
  white-space: pre-wrap;
}

#errorLongDesc {
  padding-inline-end: 3em;
  font-size: 110%;
}

#errorLongDesc > p {
}

#errorTryAgain {
  margin-top: 2em;
  margin-inline-start: 80px;
}

#brand {
  position: absolute;
  right: 0;
  bottom: -1.5em;
  margin-inline-end: 10px;
  opacity: .4;
}

#brand:-moz-dir(rtl) {
  right: auto;
  left: 0;
}

#brand > p {
  margin: 0;
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: InfoBackground;
  color: InfoText;
  padding: 10px;
  border-radius: 10px;
}

:root.blacklist #errorPageContainer {
  background-image: url("chrome://global/skin/icons/blacklist_large.png");
}

:root.blacklist #errorTryAgain {
  display: none;
}
