#toolbar-menubar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
}

#TabsToolbar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
  color: -moz-menubartext;
}

/* ::::: app menu button ::::: */

#appmenu-toolbar-button {
  --appmenu-margin: 3px 0px 3px 2px;
  -moz-appearance: none;
  background: var(--appmenu-background) !important;
  box-shadow: var(--appmenu-box-shadow) !important;
  color: #0C0C0C;
  padding: var(--appmenu-padding) !important;
  margin: var(--appmenu-margin) !important;
  border: 1px solid var(--appmenu-border-color) !important;
  border-radius: var(--appmenu-border-radius) !important;
}

#main-window[sizemode=maximized] #appmenu-toolbar-button {
  --appmenu-margin: 3px 0px 3px 0px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: none !important;
}

#appmenu-toolbar-button:hover:not(:active):not([open]) {
  --appmenu-background: var(--appmenu-icon), linear-gradient(rgba(254,254,254,0.99),rgba(243,243,244,0.76));
  --appmenu-border-color: rgba(11,25,38,0.9);
  --appmenu-box-shadow: 0 1px 0 rgba(255,255,255,.25) inset;
}

#appmenu-toolbar-button:hover:active,
#appmenu-toolbar-button[open] {
  --appmenu-background: var(--appmenu-icon), linear-gradient(rgba(254,254,254,0.99),rgba(243,243,244,0.76));
  --appmenu-border-color: rgba(11,25,38,0.9);
  --appmenu-box-shadow: 0 1px 0 rgba(255,255,255,.25) inset, 0 0 3px 1px rgba(0,0,0,.25) inset;
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-box-align: start;
  /* Make sure the window controls are always last on the toolbar */
  -moz-box-ordinal-group: 100;
  margin-inline-start: 4px;
}

#TabsToolbar #window-controls > toolbarbutton {
  margin: 0;
}

#TabsToolbar #window-controls {
  margin-inline-end: -1px;
}

#main-window[tabsontop=false] #window-controls {
  margin-top: -3px;
  margin-inline-end: -4px;
}

#minimize-button,
#restore-button,
#close-button {
  -moz-appearance: none;
  border-style: none;
  list-style-image: url("chrome://global/skin/icons/windowControls.png");
  margin: 0;
  padding: 0;
}

#minimize-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#minimize-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}

#minimize-button:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}

#restore-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#restore-button:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#restore-button:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

#close-button {
  -moz-image-region: rect(0, 49px, 16px, 32px);
}

#close-button:hover {
  -moz-image-region: rect(16px, 49px, 32px, 32px);
}

#close-button:hover:active {
  -moz-image-region: rect(32px, 49px, 48px, 32px);
}

#minimize-button:-moz-locale-dir(rtl),
#restore-button:-moz-locale-dir(rtl),
#close-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #toolbar-menubar[autohide="false"] ~ #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-16.png") center no-repeat;
  width: 32px;
}
